{% extends "base.html" %}
{% set active_page = "announcement" %}

{% block title %}<title>Announcements</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Company News</h3>
        <h4>Financial Reports</h4>
        <p>Tincidunt integer duis aptent, netus rutrum sollicitudin, neque libero venenatis dictumst class orci. Morbi ac praesent, 
            ligula himenaeos fames libero. At tristique vehicula, tempus dapibus nisl condimentum. Maecenas inceptos, suspendisse
             iaculis curae. Curae aptent nibh, donec dictum, tempor aliquam id aenean cursus eros placerat. Justo dictumst tellus, 
             inceptos velit, ligula dictum eget ultrices odio at. Id tristique facilisis, dictumst nulla libero iaculis tincidunt. 
             Suspendisse lobortis felis nulla, pretium tellus luctus, nisi magna urna phasellus mauris nullam aliquamaliquam. 
             Suscipit aliquet arcu donec, curabitur lacinia sit, facilisis massa scelerisque semper porttitor curae vivamus.

        </p>
        <h4>Press Release</h4>
        <p>Neque vestibulum vulputate, etiam rhoncus netus primis. Eget potenti etiam, ante lobortis, porttitor tempus torquent integer
         vulputate tortor nostra. Habitant non netus, hac tristique, ultrices duis scelerisque aenean nibh vel. Aliquam commodo posuere 
         vel, luctus vehicula egestas, nisi sapien consectetur arcu adipiscing lorem. Dapibus potenti neque, libero fusce, ut amet est
         phasellus rutrum. Lectus nisl elementum, molestie phasellus, ornare aliquam et purus habitasse netus. Class praesent morbi, 
         scelerisque ipsum, urna tincidunt habitant sed molestie ad. Nisi sodales amet diam, venenatis praesent interdum, fames tempor 
         tortor curabitur dolor sed nunc felis.</p>


      </div>
      <div class="col-sm-6">

        <!-- column 2 -->
        <h4>New Products</h4>
        <p>Dui hendrerit sem, condimentum rutrum aptent commodo. Pellentesque torquent pharetra semper, dapibus varius neque, praesent 
            curae hac pulvinar suspendisse massa sit et. Tincidunt porttitor, luctus fringilla placerat dolor. Habitasse ullamcorper 
            aptent donec, accumsan nullam sagittis, vehicula duis erat quisque nostra condimentum. Aenean gravida est consectetur, quisque 
            conubia odio, donec viverra aliquam sem morbi curabitur sapien vulputate. Est quis lobortis hendrerit, ut tellus pretium, dui mi 
            condimentum fusce nibh integer. Id eu posuere aliquam, tristique massa malesuada, convallis magna laoreet fringilla porttitor 
            ultrices aliquam. Nullam fusce nisl, cubilia habitasse suspendisse dui.</p>

        <h3>Upcoming Collaborations</h3>
        <p>Justo interdum quisque, pharetra lacus etiam fermentum. Sagittis torquent, eget nisl varius primis. Proin potenti in phasellus, 
            sit vivamus aliquam libero risus. Ut scelerisque, tristique turpis gravida. Placerat iaculis risus, amet lacinia, habitant rutrum 
            curae potenti fusce. Malesuada egestas convallis, dolor platea augue tempus donec. Cras nisi etiam ullamcorper, ligula in lacinia, 
            lorem cursus habitant et id sodales.</p>

      </div>
    </div>
  </div>
{% endblock %}