{% extends "base.html" %}
{% set active_page = "directory" %}

{% block title %}<title>Directory</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Current Employees</h3>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>


      
        </p>
      </div>
    </div>
  </div>
{% endblock %}