{% extends "base.html" %}
{% block title %}<title>Courses</title>{% endblock %}
{% set active_page = "courses" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Visit the Links Below!</h3>

      <ol>
        <li><a href="https://www.unh.edu/" target="_blank">Upcoming Events</a></li>
        <li><a href="https://www.unh.edu/" target="_blank">Partners</a></li>
        <li><a href="https://www.unh.edu/" target="_blank">Collaboration</a></li>
        <li><a href="https://www.unh.edu/" target="_blank">Suppliers</a></li>
        <li><a href="https://www.unh.edu/" target="_blank">Career Opportunities</a></li>
      </ol>
    </div>
    
  </div>
</div>
{% endblock %}