{% extends "base.html" %}
{% set active_page = "events" %}

{% block title %}<title>Events</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Upcoming Events</h3>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Event</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Pop-Up Shop</td>
                <td>3/26/22</td>
                <td>10am-2pm</td>
                <td>21 Lucky St., Dover, NH</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Spring 2022 Collection Releases</td>
                <td>4/2/22</td>
                <td>10am</td>
                <td>N/A</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Fundraising Event</td>
                <td>4/15/22</td>
                <td>10am-2pm</td>
                <td>45 Green Ave, Porthsmouth, NH</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Summer 2022 Collection Releases</td>
                <td>6/24/22</td>
                <td>10am</td>
                <td>N/A</td>
              </tr>

            </tbody>
          </table>  
      </div>

    <img src="{{url_for('static',filename='calendar1.png')}}"
    
    
    
{% endblock %}