{% extends "base.html" %}
{% set active_page = "events" %}

{% block title %}<title>Events</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Upcoming Events</h3>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Event</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Pop-Up Shop</td>
                <td>3/26/22</td>
                <td>10am-2pm</td>
                <td>21 Lucky St., Dover, NH</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Spring 2022 Collection Releases</td>
                <td>4/2/22</td>
                <td>10am</td>
                <td>N/A</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Fundraising Event</td>
                <td>4/15/22</td>
                <td>10am-2pm</td>
                <td>45 Green Ave, Porthsmouth, NH</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Summer 2022 Collection Releases</td>
                <td>6/24/22</td>
                <td>10am</td>
                <td>N/A</td>
              </tr>

            </tbody>
          </table>  
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>Our hours are Monday-Friday 10am-6pm, Saturday 10am-10pm, and Sunday 10am-4pm. We would also like to announce
          our very first collaboration. It is currently in the works and we are planning to release this capsule in Fall 2022.
          Stay connected through out website and social media pages for the announcement of the collaboration. Please use our
          contact page to connect with us as well. Make an account with us and submit any questions or concerns.
        </p>
        <p>Information on upcoming capsules will be posted on the "News" section of our website and on our social media pages.
          Our news page is constantly being updated on a daily basis. We are also working on opening up more retail locations,
          so that more people will be able to get their hands on our products. We would also like to announce that we are hiring! 
          We are looking for young and passionate people to work at our retail locations. We are looking for people interested in 
          working during the weekends and at night. If you are interested please send an email to our recruiter with your resume.
          This email can be found down below or on our social media pages. We offer competitive pay and are pretty flexible.

      
        </p>
      </div>
    </div>
  </div>
{% endblock %}