{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>

        <p>Welcome to our website! We are a clothing brand that was started in January 2022. Our founder, Jason Hutomo, 
          is a student at the University of New Hampshire. He is currently a junior and is majoring in information systems
          and business analytics. Our company was founded in hopes of producing affordable and stylish clothes for people of
          all shapes and sizes. Our product is targeted towards teenagers and young adults. Our products are made with high 
          quality materials. Our brand prioritizes using environmentally sustainable practices. We work closely with our 
          textile suppliers to make this possible. We are solely an e-business and conduct all of our sales through our website.
          We don't have a retail location at the moment, but we would like to have a brick and mortar shop in the next couple
          of years. We are working with our partners and stakeholders to work on a plan for a retail location. More news will 
          come in the following months. 

        </p>
        <p>We offer a variety of clothes including t-shirts, pants, shorts, and hoodies. We would like to produce more types of
          clothes. We are working to put out our next line of clothes. This new line will include products that we haven't released
          in the past. Some new items coming include socks, boxers, windbreakers, and mesh shorts. We are planning on dropping this 
          new capsule at the beginning of Summer 2022. We will also be having our very first community pop-up shop event to celebrate
          this drop. Stay tuned to our social media pages to find out the details of this event! We thank you for your continuous support
          and we look forward to seeing more of you wearing our apparel! </p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>Our hours are Monday-Friday 10am-6pm, Saturday 10am-10pm, and Sunday 10am-4pm. We would also like to announce
          our very first collaboration. It is currently in the works and we are planning to release this capsule in Fall 2022.
          Stay connected through out website and social media pages for the announcement of the collaboration. Please use our
          contact page to connect with us as well. Make an account with us and submit any questions or concerns.
        </p>
        <p>Information on upcoming capsules will be posted on the "News" section of our website and on our social media pages.
          Our news page is constantly being updated on a daily basis. We are also working on opening up more retail locations,
          so that more people will be able to get their hands on our products. We would also like to announce that we are hiring! 
          We are looking for young and passionate people to work at our retail locations. We are looking for people interested in 
          working during the weekends and at night. If you are interested please send an email to our recruiter with your resume.
          This email can be found down below or on our social media pages. We offer competitive pay and are pretty flexible.

      
        </p>
      </div>
    </div>
  </div>
{% endblock %}