{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>

        <p>Welcome to our website! We are a clothing brand that was started in January 2022. Our founder, Jason Hutomo, 
          is a student at the University of New Hampshire. He is currently a junior and is majoring in information systems
          and business analytics. Our company was founded in hopes of producing affordable and stylish clothes for people of
          all shapes and sizes. Our product is targeted towards teenagers and young adults. Our products are made with high 
          quality materials. Our brand prioritizes using environmentally sustainable practices. We work closely with our 
          textile suppliers to make this possible. We are solely an e-business and conduct all of our sales through our website.
          We don't have a retail location at the moment, but we would like to have a brick and mortar shop in the next couple
          of years. We are working with our partners and stakeholders to work on a plan for a retail location. More news will 
          come in the following months. 

        </p>
        <p>We offer a variety of clothes including t-shirts, pants, shorts, and hoodies. We would like to produce more types of
          clothes. We are working to put out our next line of clothes. This new line will include products that we haven't released
          in the past. Some new items coming include socks, boxers, windbreakers, and mesh shorts. We are planning on dropping this 
          new capsule at the beginning of Summer 2022. We will also be having our very first community pop-up shop event to celebrate
          this drop. Stay tuned to our social media pages to find out the details of this event! We thank you for your continuous support
          and we look forward to seeing more of you wearing our apparel! </p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </p>
      </div>
    </div>
  </div>
{% endblock %}